##### EXCLUDES #####

# Project Agnostic
.svn/
_ReSharper.*/
/_UpgradeReport_Files/
*.suo
*.bak
*.[Cc]ache
*.user
*.ncb
*.schemaview
*.[Rr]e[Ss]harper
*.FileListAbsolute.txt
Ankh.NoLoad
[Tt]humbs.db
/UpgradeLog.XML
/UpgradeLog.htm
*.log
*.dbmdl
*.docstates

# Project Specific
/[Pp]ackages/*/
log.txt
log.txt.*

# Build Generated

# Build Binaries
[Bb]in/
[Oo]bj/

##### INCLUDES #####
!*.refresh
