<?xml version="1.0"?>
<configuration>
	<configSections>
		<sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
			<section name="DbCopy.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
		</sectionGroup>
	</configSections>
	<userSettings>
		<DbCopy.Properties.Settings>
   <setting name="SourceServer" serializeAs="String">
    <value/>
   </setting>
   <setting name="SourceCatalog" serializeAs="String">
    <value/>
   </setting>
   <setting name="SourceUsername" serializeAs="String">
    <value/>
   </setting>
   <setting name="SourcePassword" serializeAs="String">
    <value/>
   </setting>
   <setting name="DestServer" serializeAs="String">
    <value/>
   </setting>
   <setting name="DestCatalog" serializeAs="String">
    <value/>
   </setting>
   <setting name="DestUsername" serializeAs="String">
    <value/>
   </setting>
   <setting name="DestPassword" serializeAs="String">
    <value/>
   </setting>
   <setting name="SourceEncrypt" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="DestEncrypt" serializeAs="String">
    <value>False</value>
   </setting>
  </DbCopy.Properties.Settings>
	</userSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
	</startup>
</configuration>
